

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          
          <li class="nav-item">
            <a class="nav-link" routerLink="departement">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="iset">ISET Charguia</a>
          </li>
        </ul>
        <button class="btn btn-info"
        (click)="GoToLogin()"
        type="button">
         login
        </button>
      </div>
    </div>
  </nav>
