*{
    text-align: center;
}

#act{
    padding-top: 30px;
}

div{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
ul{
    height: 300px;
    width: 300px;
}
input{
    margin-left: 8px;
}
.card-body{
   height: 200px;
}
ul{
    margin-top: 20px;
}