<div>
    <input
    [(ngModel)]="mot"
    class="form-control mr-sm-2"
    style="width: 170px; display: inline"
    type="search"
    placeholder="Search"
    aria-label="Search"
    (keyup)="Recherche()"
  />
  
</div>

<div id="act">
    <ul *ngFor="let activite of lesActivites">
        <li class="card">
        <span class="card-header">{{activite.titre}}</span>
        
        <img class="card-body" src="{{activite.image}}">
        <span class="card-footer">
            <input 
            class="btn btn-warning"
             type="button" 
             [routerLink]="['/backEnd/modifier',activite.id]"
             value="Modifier">

             <input type="button"
             class="btn btn-danger"
             value="Effacer"
             (click)="onSupprime(activite.id)"
             >
        </span>
        
        </li>
    </ul>
</div>
