body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
    margin: 0;
    background-image: url(../../../assets/backroundlogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  main {
    border-radius: 2%;
    padding: 30px;
    background-color: rgb(255, 252, 252);
    height: 450px;
    width: 500px;
    backdrop-filter: blur(10px);
  }
  strong{
    text-align: center;
    font-size: 25px;
  }

 
  .Btn {
    display: inline-block;
    margin: 15px;
    margin-left: 70px;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #6d6d70, rgb(175, 175, 175), #6d6d70);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
  }
    