<nav class="navbar navbar-expand-sm bg-warning navbar-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="infos">Informations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="activites">Nos activites</a>
          </li>
        </ul>
        <button class="btn btn-light" (click)="logOut()" >Déconnexion</button>
      </div>
    </div>
  </nav>

