<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <main>
    <div class="container">
      <div class="flex-container">
        <div class="form-container">
          <strong>Authentification</strong>
          <div class="mb-3 mt-3">
            <label class="form-label">Nom d'utilisateur:</label>
            <input
              type="text"
              class="form-control"
              placeholder="Introduisez votre nom d'utilisateur"
              #username
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Password:</label>
            <input
              #password
              type="password"
              class="form-control"
              placeholder="Introduisez votre mot de passe"
            />
          </div>
          <button class="Btn" (click)="login(username.value, password.value)">
  
            <div class="sign"><svg viewBox="0 0 512 512"><path d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"></path></svg></div>
            
            <div class="text">Login</div>
          </button>
          
          
          
         
            
          
        </div>
      </div>
    </div>
  </main>
</body>

</html>
