
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
  margin: 0;
  background-image: url(../../../assets/backroundlogin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  border-radius: 2%;
  padding: 30px;
  background-color: rgb(255, 252, 252);
  height: 650px;
  width: 500px;
  backdrop-filter: blur(10px);
}


.form-container {
  width: 100%;
}

strong{
  text-align: center;
  font-size: 25px;
}

button{
  margin-top: 30px;
  margin-left:150px ;
}
.Btn {
  display: flex;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #6d6d70, rgb(175, 175, 175), #6d6d70);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
}
  
#changePassword{
  margin-left: 95px;
}

#sign{
  margin-left:145px;
}

button svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button:hover svg {
  transform: translateX(5px) rotate(90deg);
}

button:hover span {
  transform: translateX(7px);
}